{% extends 'MapsBundle:Default:index.html.twig' %}
{% block title %} Profil {% endblock %}

{% block body %}
    {% include 'MapsBundle:Default:header.html.twig' %}
    {% include 'MapsBundle:Default:sidebar.html.twig' %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <!-- row -->
            <div class="row">
                <!-- /.col -->
                <div class="col-md-12">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-aqua-active">
                            <h3 class="widget-user-username">{{ member.getuyeadi() }} {{ member.getuyesoyadi() }}</h3>
                            <h5 class="widget-user-desc">{{ member.getuyerumuz() }}</h5>
                        </div>
                        <div class="widget-user-image">
                            <img class="img-circle" src="{{ asset('bundles/maps/dist/img/user1-128x128.jpg') }}" alt="User Avatar">
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="description-block">
                                        <button class="btn btn-default btn-xs"><i class="fa fa-user-plus"></i> İstek Gönder</button>
                                    </div><!-- /.description-block -->
                                </div><!-- /.col -->
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">3,200</h5>
                                        <span class="description-text">ARKADAŞLAR</span>
                                    </div><!-- /.description-block -->
                                </div><!-- /.col -->
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">13,000</h5>
                                        <span class="description-text">TAKİPÇİLER</span>
                                    </div><!-- /.description-block -->
                                </div><!-- /.col -->                                
                            </div><!-- /.row -->
                        </div>
                    </div><!-- /.widget-user -->
                </div><!-- /.col -->
                <!-- /.col -->
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
    {% include 'MapsBundle:Default:footer.html.twig' %}        
{% endblock %}

{% block javascript %}
{% endblock %}