                <aside class="main-sidebar">
                    <!-- sidebar: style can be found in sidebar.less -->
                    <section class="sidebar">                
                        <form action="#" class="sidebar-form" method="get">
                            <div class="input-group">
                                <input class="form-control" name="q" placeholder= "Kişi ara..." type="text">
                                <span class="input-group-btn">
                                    <button class="btn btn-flat" id='search-btn' name='search' type='submit'>
                                        <span class="input-group-btn"><i class="fa fa-search"></i></span>
                                    </button>
                                </span>
                            </div>
                        </form><!-- /.search form -->                
                    </section><!-- /.sidebar -->
                </aside><!-- Content Wrapper. Contains page content -->